<!DOCTYPE html>
<html>
<head>
    @*<meta name="viewport" content="width=device-width" />*@
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/MyCSS/main-layout.css" rel="stylesheet" />
</head>

<body>
    <div class="row">
        <!--左侧边距1/6 -->
        <div class="col-md-2"></div>

        <!--内容显示页面占屏幕4/6 -->
        <div class="col-md-8">
            <!-- 网站标题及显示用户名 -->
            <div class="row title">
                <!-- 系统标题 -->
                <div class="col-md-8 title-text point-hand" id="title" onclick="gotoPage('title')">系统标题</div>
                <div class="col-md-4 user-welcome">
                    <span class="glyphicon glyphicon-user point-hand" onclick="gotoPage('personal')">个人中心</span>&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-log-out point-hand">退出登陆</span>
                </div>
            </div>
            <!-- 菜单栏 -->
            <div class="menu" id="menu">
                <span onclick="gotoPage('create')">创建提案</span>
                <span onclick="gotoPage('show')">浏览提案</span>
                <span onclick="gotoPage('mine')">我的提案</span>
                <span onclick="gotoPage('history')">我的历史提案</span>
                <span onclick="gotoPage('news')">系统公告</span>
                <span onclick="gotoPage('download')">文件下载</span>
            </div>
            <!-- 内嵌具体功能网页 -->
            <div style="margin-top: 20px; margin-bottom: 20px;">
                @RenderBody()
            </div>
            
            <!-- 网页页脚：系统标题+关于我们 -->
            <div class="page-foot" id="foot">
                系统标题 from 王业权 Copyright:2018
            </div>
        </div>

        <!--右侧边距1/6 -->
        <div class="col-md-2"></div>
    </div>
</body>
</html>
<script>
    function gotoPage(data) {
        if (data != "title") {
            var str = data + "";
            str = str.substring(0, 1).toUpperCase() + str.substring(1);
            data = str;
        } else {
            data = "";    
        }
        //var nodeArr = document.getElementById('menu').getElementsByTagName('span');
        //alert(nodeArr.length);
        //for (var i = 0; i < nodeArr.length; i++){
        //    var a = $(nodeArr[i]);
        //    a.removeClass("chooseMenu");
        //}
        //if (item != null) {
        //    var node = $(item);
        //    node.addClass("chooseMenu");
        //}
        window.location.href = "/" + data;
    };

</script>
