
@{
    ViewBag.Title = "系统公告";
}
<link href="~/Content/MyCSS/news.css" rel="stylesheet" />
<div>
    <div class="type-border">

    </div>
    <fieldset class="type-border">
        <legend class="news-pannel-title">&nbsp;公告列表</legend>
        <div>

        </div>
    </fieldset>
</div>

